<html ng-app="Hackathon" ng-controller="HackathonController" class="h1">
<head >
    <title>Scores</title>

</head>
<body>
<div class="blur"></div>
<span>
<div class="main1" >
    <input type="button" class="bu"  onclick="logout()"  style="position:absolute; right:10px; top:20px; width:80px;height:30px;" value="Logout" >
    <script type="text/javascript">
        function logout() {
            window.location='index.html';
        }

        </script>
    <div class="m5"> <input type="button" style="width:200px; height:50px" value="View Team Details" class="cl"  ng-Click="disp()"/></div>
              <div id="container" class="container" align="center">

    </div><br>


         <h1 class="b" >Please Give Scores to the team</h1>
      <form method="post" action="http://127.0.0.1:8081/update" align="center">
<br><br><br>

    <div class="a1"><input onblur="findTotal()" placeholder="Enter ID to give scores" type="text" class="i1" id="id2" name="id2"  /></div><br>
        <div class="main2" >

                       <div class="m1"><span class="form_hint"></span>
                <div class="a1" ><input type="text" style="width:150px;" class="text1" name="tname" placeholder="Enter Team Name" id="Team_Name" ng-model="formData.Team_Name"  /></div>
                <br><br></div>
            <div class="m2"><span class="form_hint"></span>
                <div class="a1" ><label>User Experience</label> <input onblur="findTotal()"  placeholder="/10" style=" width:50px; " type="text" class="text1" name="qty1" id="User_Experience" ng-model="formData.User_Experience"  /></div>
               <br></div>
            <div class="m3" ><span class="form_hint"></span>
                <div class="a1"><label>Innovation</label><input onblur="findTotal()"   placeholder="/10"  style=" width:50px " type="text" class="text1" name="qty2" id="Innovation" ng-model="formData.Innovation"  /></div>
               <br></div>
            <div class="m4" > <span class="form_hint"></span>
                <div class="a1"><label> Collaboration</label><input onblur="findTotal()"    placeholder="/10" style="width:50px" type="text" name="qty3" id="Collaboration" class="text1" ng-model="formData.Collaboration"/></div>
                <br></div>
            <div class="m5" ><span class="form_hint"></span>
                <div class="a1"><label> Originality</label> <input onblur="findTotal()"    placeholder="/10" style="width:50px;" type="text" name="qty4" id="Originality" class="text1" ng-model="formData.Originality" /></div>
               <br></div>
            <div class="m2" ><span class="form_hint"></span>
                <div class="a1"><label> Code Quality</label> <input onblur="findTotal()"    placeholder="/10" style="width:50px;" type="text" class="text1" name="qty5" id="Code_Quality" ng-model="formData.Code_Quality"  /></div>
                <br></div>
            <div class="m3"><span class="form_hint"></span>
                <div class="a1" > <label>Design</label><input onblur="findTotal()"   placeholder="/10"  style="width:50px;" type="text" class="text1" name="qty6" id="Design" ng-model="formData.Design"  /></div>
               <br></div>
            <div class="m4"> <span class="form_hint"></span>
                <div class="a1" ><label> Functionality</label><input onblur="findTotal()"    placeholder="/10" style=" width:50px;" type="text" name="qty7" id="Functionality" class="text1" ng-model="formData.Functionality" /></div>
               <br></div>
            <div class="m5" ><span class="form_hint"></span>
                <div class="a1" ><label>Integration of Technology</label> <input onblur="findTotal()"    placeholder="/10" style="width:50px;" type="text" name="qty8" id="Integration_of_Technology" class="text1" ng-model="formData.Integration_of_Technology" /><label style="position:relative;left:90px; top:-48px;">=</label><input type="text" style="width:30px;" name="total" id="total" class="text2" ng-model="formData.total" /></div>
              <br></div>
            <script type="text/javascript">
                function findTotal(){
                    var arr = document.getElementsByClassName('text1');
                    var tot=0;
                    for(var i=0;i<arr.length;i++){
                        if(parseInt(arr[i].value))
                            tot += parseInt(arr[i].value);
                    }
                    document.getElementById('total').value = tot;

                }

            </script>
            <div class="m5" ><span class="form_hint"></span>
                <div class="a1"> <label>You give this team a total score of </label> <input  style="width:50px;" type="text"   placeholder="/80" name="total1" id="Total_Score" class="text1" ng-model="formData.Total_Score"/></div>
                <br></div>
              <div class="m1"><span class="form_hint"></span>
                <div class="a1" > <label>Comment </label><textarea style="width:250px; height:100px;position:relative; top:-20px;left:-100px;" class="text1" name="comment" placeholder="Enter Comment" id="comment" ng-model="formData.comment"></textarea></div>
                <br><br></div>

            <input type="submit" class="il"  value="Submit"/> <input type="button" class="ip"  value="Give Scores to Other Team" onclick="refresh()"/>
                                <script>
                    function refresh() {
                        window.location='score.html';
                    }
                </script>
        </div>
    </form>
            <div class="main3">
                <input type="button"  style="width:100px;  " value="Proceed" class="button" onclick="go()"/>
                <script>
                    function go() {
                        window.location='Home.html';
                    }
                </script>
            </div>



    </form>

</div>
    </span>

<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" href="scoreStyling.css" type="text/css">
</body>
</html>